<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <title>Long Running Task App</title>
</head>
<body>
<div>user id: {{ id }}</div>
<div>user name: {{ name }}</div>
<div>user role: {{ role }}</div>
<div>user age: {{ age }}</div>

<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <div>Long task results for managers:</div>
            <div id="Results-1"></div>
        </div>
        <div class="col-sm-3">
            <div>Fibonacci task results for aged:</div>
            <div id="Results-2"></div>
        </div>
        <div class="col-sm-1">
            <form method='post' id="taskForm-3">
                <input type="hidden" name="task-event" value="task-3">
                <input type="hidden" name="namespace" value="/task-3">
                <button type="submit" id="taskButton-3">Matrix operations</button>
            </form>
            <div id="Results-3"></div>
        </div>
        <div class="col-sm-2">
            <form method='get' id="taskForm-4">
                <button type="submit" id="taskButton-4">test api</button>
            </form>
            <div id="Results-4"></div>
        </div>
        <div class="col-sm-5">
            <div>Scheduled task results:</div>
            <div id="Results-5"></div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function(){
        var namespace='/managers'
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        var event_name = 'task-1'
        socket.on('connect', function() {
            //// on a connection join a room
            {#socket.emit('join_room_auth');#}
        });
        socket.on(event_name, function(data) {
            $("#Results-1").prepend('<li>'+data.msg+'</li>');
        });
        socket.on('status', function(data) {
            if (data.msg=='Begin'){
                $("#Results-1").empty();
            };
        });
    });
    $(document).ready(function(){
        var namespace='/aged';
        var socket = io.connect('http://' + document.domain + ':' + location.port+namespace);
        var event_name = 'task-2'
        socket.on('connect', function() {
            //// on a connection join a room
            {#socket.emit('join_room');#}
        });
        socket.on(event_name, function(data) {
            $("#Results-2").prepend('<li>'+data.msg+'</li>');
        });
        socket.on('status', function(data) {
            if (data.msg=='Begin'){
                $("#Results-2").empty();
            };
        });

    });
    $(document).ready(function(){
        var namespace='/long_task';
        var socket = io.connect('http://' + document.domain + ':' + location.port+namespace);
        var event_name = 'task-3'
        socket.on('connect', function() {
            //// on a connection join a room
            socket.emit('join_room');
        });
        socket.on(event_name, function(data) {
            $("#Results-3").prepend('<li>'+data.msg+'</li>');
        });
        socket.on('status', function(data) {
            if (data.msg=='End'){
                $("#taskButton-3").show()
            };
        });
    });
    $(document).ready(function(){
        var namespace='/schedule_task';
        var socket = io.connect('http://' + document.domain + ':' + location.port+namespace);
        var event_name = 'task-5'
        socket.on('connect', function() {
            //// on a connection join a room
        });
        socket.on(event_name, function(data) {
            $("#Results-5").prepend('<li>'+data.msg+'</li>');
        });
        socket.on('status', function(data) {
        if (data.msg=='Begin_schedule_task') {
                {#$("#Results-5").empty();#}
            };

        });
    });

</script>
<script>
    $("#taskButton-3").click(function(e){
        $("#taskButton-3").hide();
        $.ajax({ type: "POST",
            url:'matrix-task',
            data: $("#taskForm-3").serialize(),
            success:function(data)
            {task=data.id;
                $("#Results-3").empty();
                $("#Results-3").prepend('<li>Task ID:'+task+' has been submitted.</li>');
            }
        });
        e.preventDefault();
        console.log('complete')
    });

    $("#taskButton-4").click(function(e){

        $.ajax({ type: "GET",
            url:'/api/test',
            data: $("#taskForm-4").serialize(),
            success:function(data)
            {
                variable=data.variable;
                $("#Results-4").empty();
                $("#Results-4").prepend('<li>'+variable+' </li>');
            }
        });
        e.preventDefault();
        console.log('complete')
    });

</script>

</body>
</html>